.main-stopwatch {
  min-height: 30vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    120deg,
    rgb(74, 244, 74) 0%,
    rgb(0, 208, 255) 50%,
    rgb(123, 188, 77) 100%
  );
}
.Tcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Orbitron", sans-serif;
}

.Tcontainer h1 {
  color: #175cff;
}

.Tcontainer .timer {
  display: flex;
  font-size: 55px;
  font-weight: bold;
  color: #333;
  transition: 0.5s;
}
.Tcontainer .timer .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  color: #172953;
  min-width: 90px;
  transition: 0.5s;
}
.Tcontainer .timer .separator {
  padding: 10px;
  color: #535763;
}
.Tcontainer .timer .time#millisecondss {
  font-size: 30px;
  color: #525763;
}
.Tcontainer .buttons {
  display: flex;
  gap: 1rem;
}

.Tcontainer .buttons .btn {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}
.Tcontainer .buttons .btn:hover {
  transform: scale(1.1);
}

.Tcontainer .buttons .btn#startBtn {
  background-color: #175cff;
  color: #fff;
}

#pauseBtn,
#resumeBtn {
  display: none;
}

@media screen and (max-height: 950px) {
  .main-stopwatch {
    min-height: 100vh;
  }
}

@media screen and (max-width: 450px) {
  .Tcontainer .timer {
    font-size: 45px;
  }
  .Tcontainer .timer .time {
    margin-right: 0;
    margin-left: 0;
  }
}
